.icon{
    font-size: 80px;
    color:white;
    text-align: center;
}
.buy{
    background-color: rgb(17, 131, 146);
    color:white
}
.rental{
    background-color: rgb(110, 95, 9);
    color:white
}
.service{
    background-color: rgb(97, 7, 85);
    color:white
}

.service-style{
    margin-top: -50px;
}


.btn-regular{
    background-color:rgb(21, 45, 126) ;
    color: white;
    padding:8px 25px;
    border:0
}
.btn-regular:hover{
    border:3px solid rgb(3, 15, 56);
    background-color:rgb(8, 25, 82) ;
  
    font-weight: 700;
}